/*
  Since this is a full-fledged application, it is most capable on bigger screens.
  As such, the approach taken for defining styles is hi-res desktop first, not mobile first.
*/

html, body {
	background-color: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #211922;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

input, button {
  font-size: inherit;
  padding: 0.2em;
  border-radius: 3px;
  display: block;
}

input[type="text"],
input[type="password"],
button {
  border: 1px solid silver;
  padding: 0.3em;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #328ff1;
}

button {
  background: #328ff1;
  border: 1px solid #328ff1;
  color: white;
}

button:active {
  background: #99c7f8;
  border: 1px solid #99c7f8;
}

.content {
  position: fixed;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.section {
	clear: both	
	padding: 0;
	margin: 0;
}

.col {
	display: block;
	float: left;
	margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group:before,
.group:after {
	content: '';
	display: table;
}

.group:after {
	clear: both;
}

/* Navigation bar */
nav {
  background: #ffffff;
	left: 0;
	top: 0;
	right: 0;
	display: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
  height: 44px;
  z-index: 500;
}

nav.authenticated {
	display: block;
}

nav ul {
  display: block;
  list-style-type: none;
  height: 100%;
  width: 100%;
}

nav ul li {
  display: block;
  float: right;
  color: #7b7b7b;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 6px;
  width: 32px;
  height: 32px;
  line-height: 31px;
  text-align: center;
}

nav ul li.dashboard {
  float: left;
}

nav ul li:hover {
  background-color: #f2f2f2;
  color: #616161;
}

nav ul li:active {
  color: #515151;
}

/* Login */

.login-page {
  background-color: #eee;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.login-table {
  height: 100%;
  width: 100%;
  display: table;
}

.login-cell {
  display: table-cell;
  vertical-align: middle;
}

.login-page form {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 10px;
}

.login-page form input, .login-page form button {
  display: block;
  width: 100%;
}

.login-page .col1,
.login-page .col2,
.login-page .col3 {
  padding-top: 10px;
  width: 100%;
}

.login-page .col3 {
  width: 128px;
}


@media screen and (min-width: 480px) and (max-width: 640px) {
  /* Login */
  .login-page .col1,
  .login-page .col2 {
    width: 50%;
  }

  .login-page .col1 {
    padding-right: 5px;
  }

  .login-page .col2 {
    padding-left: 5px;
  }
}

@media screen and (min-width: 640px) {
  /* Login */
  .login-page .col1,
  .login-page .col2 {
    width: 40%;
    padding-right: 10px;
  }

  .login-page .col3 {
    width: 20%;
  }
}
