<div class="alerts">

  <header class="section group">
    <div class="col col-contract-code">Contract code</div>
    <div class="col col-late-days">Late days</div>
  </header>

  <section>
    {{#each}}
      <div class="section group">
        <div class="col col-contract-code">{{contractCode}}</div>
        <div class="col col-late-days">{{lateDays}}</div>
      </div>
    {{/each}}
  </section>

</div>