<div class="alerts">
  <header class="section group" {{bind-attr style='view.headerStyle'}}>
    <div class="col col-contract-code">Contract&nbsp;code</div>
    <div class="col col-late-days">Late&nbsp;days</div>
  </header>
  
  <section>
    {{#each}}
      <div class="section group">
        <div class="col col-contract-code">{{contractCode}}</div>
        <div class="col col-late-days">{{lateDays}}</div>
      </div>
    {{/each}}
  </section>

</div>
