<nav {{bind-attr class='isAuthenticated:authenticated'}}>
  <ul>
    <li class="logout" {{action 'logout'}}><i class="fa fa-sign-out"></i></li>
  </ul>
</nav>

<div class="content">
  {{outlet}}
</div>
